h1 {
  font-family: sans-serif;
}

.login-form label {
  color: #ededed;
}

.login-form input {
  background-color: rgba(255,255,255,0.4);
}

.login-form input::placeholder {
  color: rgba(255,255,255,0.5);
}

.login-form input[type=text] {
  color: rgba(255,255,255,1);
}

.well {
  border: 0px;
}

.navbar-toggle.collapsed {
  border-width: 1px;
  border-color: white;
}

.btn-success {
  background: linear-gradient(141deg, #52a22d 0%, #68bf32 51%, #56be16 95%);
}

.btn-info {
  background: linear-gradient(141deg, #00baae 0%, #50cbd9 51%, #2cb5e8 95%);
}

.btn-warning {
  background: linear-gradient(141deg, #ffba21 0%, #fed137 51%, #ffce21 95%);
}

.btn-danger {
  background: linear-gradient(141deg, #e64f46 0%, #fc652d 51%, #ff5313 95%);
}
