.login-form label {
  color: #ededed;
}

.login-form input {
  background-color: rgba(255,255,255,0.4);
}

.login-form input::placeholder {
  color: rgba(255,255,255,0.5);
}

.login-form input[type=text] {
  color: rgba(255,255,255,1);
}

.well {
  border: 0px;
}

.navbar-toggle.collapsed {
  border-width: 1px;
  border-color: white;
}
